<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
    <link rel="stylesheet" href="css/tailwind.min.css">
</head>
<body class="min-h-100 bg-gray-200">
    <div class="md:flex min-h-screen md:align-top">
        <aside class="md:w-2/5 lg:w-2/5 xl:w-1/5 bg-blue-900 px-5 py-10">
            <h1 class="uppercase text-white tracking-wide text-2xl  font-bold mt-2">BIENVENIDO ADMINISTRADOR</h1>
            <p class="mt-10 text-white">Administra tus productos</p>
            <nav class="mt-8">
                <a  
                    href="index.html" 
                    class="px-3 py-1 text-white block hover:bg-gray-500 hover:text-white"
                >Productos</a>
                <a 
                    href="nuevo-producto.html" 
                    class="px-3 py-1 text-white block hover:bg-gray-500 mt-2 hover:text-white"
                >Nuevo Producto</a>
                <a 
                href="editar-producto.html" 
                class="px-3 py-1 text-white block hover:bg-gray-500 mt-2 hover:text-white"
            >Editar Producto</a>
            <a 
                href="eliminar-producto.html" 
                class="px-3 py-1 text-white block hover:bg-gray-500 mt-2 hover:text-white"
            >Eliminar Producto</a>
            </nav>
        </aside> <!--sidebar-->
        <main class="md:w-3/5  xl:w-4/5 px-5 py-10 bg-gray-200">
            <h2 class="text-3xl font-light text-center">Editar producto</h2>

            <div class="flex flex-col mt-10 items-center">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 w-10/12 md:w-8/12 lg:w-6/12">
                    <div class=" shadow overflow-hidden sm:rounded-lg border-b border-gray-200 ">
                        <form action="/upload2" id="edit-product" class="bg-white p-3" method="POST" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Producto a editar</label>
                                <select 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="productSelect"
                                    name="productSelect"
                                    type="text"
                                >
                                <option selected disabled>seleccionar...</option>
                                </select>
                            </div>
                            
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="nombre"
                                    name="nombre"
                                    type="text"
                                    placeholder="Nombre Producto"
                                />
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">Precio</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="precio"
                                    name="precio"
                                    type="precio"
                                    placeholder="Precio Producto"
                                />
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="categoria">Categoria</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="categoria"
                                    name="categoria"
                                    type="number"
                                    placeholder="Categoria Producto"
                                />
                            </div>

                            <div class="mb-4">
                                <img id="imgto-edit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJsX7tXMWx75lOcq6csj9EPMf8wyvYmyGXKWzPlpeM&s" />
                            </div>

                            <input
                                type="submit"
                                class="bg-blue-900 hover:bg-blue-900 w-full mt-5 p-2 text-white uppercase font-bold"
                                value="Agregar Producto"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.js" integrity="sha512-kFoMebJcPxdfDstjuwbbJN3q7hQ6O6npC9exDmbTR7HZZUC50s7DKl/MJSiukySAolVrcVmaLRHTmRjwnGCFow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/editarproducto.js" type="module"></script>
</body>
</html>