<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<style>
.centrar{
  text-align: center;
}
</style>
<body>
  <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-2xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chicharronera El Cerdon de Pao</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Nos destacamos por ser el restaurante que ofrece mejor servicio de cochino frito y chicharron en el sector de Vista Hermosa,Caracas.No esperes mas para visitarnos.Te esperamos!</p>
          </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        
      
            <!-- More people... -->
            <li>
                <div class="flex items-center gap-x-6">
                  <img class="h-16 w-16 rounded-full" src="../img/paola.jpeg" alt="">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Paola Perez</h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Socia/Cajera</p>
                  </div>
                </div>
              </li>
                  <!-- More people... -->
                
            <li>
                <div class="flex items-center gap-x-6">
                  <img class="h-16 w-16 rounded-full" src="../img/jose.jpeg" alt="">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Jose Pernia</h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Socio/Parrilero</p>
                  </div>
                </div>
              </li>
               <!-- More people... -->
              <li>
                <div class="flex items-center gap-x-6">
                  <img class="h-16 w-16 rounded-full" src="../img/sinai.jpeg" alt="">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Sinai Pernia</h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Mesonera</p>
                  </div>
                </div>
              </li>
                  <!-- More people... -->
                  <li>
                    <div class="flex items-center gap-x-6">
                      <img class="h-16 w-16 rounded-full" src="../img/miguel.jpeg" alt="">
                      <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Miguel Pernia</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Vendedor</p>
                      </div>
                    </div>
                  </li>
                      <!-- More people... -->
                      <li>
                        <div class="flex items-center gap-x-6">
                          <img class="h-16 w-16 rounded-full" src="../img/alberto.jpeg" alt="">
                          <div>
                            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Alberto Camacho</h3>
                            <p class="text-sm font-semibold leading-6 text-indigo-600">Parrillero </p>
                          </div>
                        </div>
                      </li>
                          <!-- More people... -->
                          <li>
                            <div class="flex items-center gap-x-6">
                              <img class="h-16 w-16 rounded-full" src="../img/deliana.jpeg" alt="">
                              <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Deliana Abril</h3>
                                <p class="text-sm font-semibold leading-6 text-indigo-600">Mesonera</p>
                              </div>
                            </div>
                          </li>
                              <!-- More people... -->
                              <li>
                                <div class="flex items-center gap-x-6">
                                  <img class="h-16 w-16 rounded-full" src="../img/lidis.jpeg" alt="">
                                  <div>
                                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lidis Guzman</h3>
                                    <p class="text-sm font-semibold leading-6 text-indigo-600">Cocinera del personal </p>
                                  </div>
                                </div>
                              </li>
          </ul>
          
        </div>
        <a href="../index.html"><button type="submit"  class="text-white bg-blue-900 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-500 font-normal rounded-lg text-lg px-11 py-2 mx-10 dark:bg-blue-800 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <h4 class="text-center">Inicio</h4>
            </button></a>
      </div>

      <section>
        <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
          <div class="absolute inset-0 -z-10 overflow-hidden">
            <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
              <defs>
                <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                  <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
              </defs>
             
              <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
            </svg>
          </div>
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
              <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                  <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lee un poquito mas de nuestra historia</h1>
                  <p class="mt-6 text-xl leading-8 text-gray-700">El Cerdon de Pao fue fundado el 17 de Abril de 2017, como principales protagonistas de este emprendiemiento fueron Paola Perez y Jose Pernia quienes se unieron en sociedad para darle vida no solo a un restaurante sino a un lugar lleno de exquisitos sabores y sobretodo de una sana tradicion donde la familia y la felicidad de las personas fueran la razon principal por quienes escucharan oir de su local.</p>
                </div>
              </div>
            </div>
            <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
              <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="../img/socios.jpeg" alt="">
            </div>
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
              <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                  <p>Paola y Jose siempre han sido  amantes de la cocina y siempre soñaban con tener su propio negocio de comida. Pese a las dificultades obtenidas en el proceso, resultarán vivo su sueño y trabajaron arduamente para hacerlo realidad. Con mucho entusiasmo, comenzaron a ahorrar cada centavo que pudieron ya buscar el lugar ideal para abrir su local de chicharrón. Después de meses de búsqueda y sacrificio, finalmente encontraron un pequeño local en una calle concurrida del sector Vista Hermosa, Carcas . Estaba un poco descuidado, pero Paola y José vieron su potencial y se pusieron manos a la obra para arreglarlo y convertirlo en su espacio soñado.</p>
                  <ul role="list" class="mt-8 space-y-8 text-gray-600">
                    <li class="flex gap-x-3">
                     <p>Con el correr del tiempo, el éxito del local se hizo notorio en todo el sector. No solo por la deliciosa comida que servía, sino también por la calidad del servicio y el ambiente familiar que transmitían. Miguel y Sinai, los hijos de Paola y José, se operaron en los mesoneros más amables y atentos de toda Vista Hermosa. Siempre sonrientes y dispuestos a brindar una experiencia inolvidable a los comensales junto con dos integrantes del equipo del Cerdon de Pao; Deliana Abril y Alberto Camacho.</p>
                      
                    </li>
                    <li class="flex gap-x-3">
                    <p>El local de Chicharronera El Cerdon de Pao  se ha  convirtido en un lugar de encuentro, donde no solo se disfruta de exquisita comida, sino también de conversaciones amenas y risas compartidas. Este local ha logrado crear un hogar dentro de ese pequeño negocio, donde la calidez y el amor se sintieron en cada plato servido.La historia del nacimiento de este local  es un recordatorio de que los sueños se hacen realidad cuando se les pone amor, persistencia y trabajo duro. </p>
                    </li>
                  </ul>
                  <p class="mt-8">Los propietarios del local, Paola y José, desean expresar su sincero agradecimiento a todos sus clientes por su apoyo continuo y por elegir visitar su establecimiento. Han sido testigos de la lealtad y el cariño que esos clientes les han brindado a lo largo del tiempo, lo cual ha sido fundamental para el éxito del negocio.</p>
                  <p class="mt-6">Desde lo más profundo de sus corazones, Paola y José quieren decir "¡Gracias!" a todos sus clientes por su continuo apoyo, su aprecio y su confianza. Esperan poder seguir sirviéndoles de la mejor manera posible y brindarles experiencias culinarias excepcionales.</p>
                   <br> <br>
                   <p>Te esperamos en nuestro local con muchas ansias</p>
                   <p>Contactanos: 0414-925.86.53/0424-173.69.43</p>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div>
      
      </section>
      
</body>
</html>